<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <fa-icon [icon]="faStore"></fa-icon>
      </div>
      <div>
        Productos
        <div class="page-title-subheading">Agrega.</div>
      </div>
    </div>
    <div class="page-title-actions">
      <button type="button" routerLink="/admin/products" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faList"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body"><h5 class="card-title">Editar Producto</h5>
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <div class="row">
            <div class="col-12 col-lg-8">
              <label for="name"  class="label-flags">
                <img src="assets/images/flags/Flag_of_mexico.png" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
                <img src="assets/images/flags/Flag_of_United.svg" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
                <span>Nombre</span>
              </label>
              <input type="text"
                     name="name"
                     placeholder="Nombre"
                     id="name"
                     *ngIf="serviceTranslation.getLang() == 'es'"
                     class="form-control"
                     [ngModel]="product.name.es"
                     required>
              <input type="text"
                     name="name"
                     placeholder="Nombre"
                     *ngIf="serviceTranslation.getLang() == 'en'"
                     class="form-control"
                     [ngModel]="product.name.en"
                     required>

              <div class="position-relative form-group">
                <label for="image" class="">Imagen</label>
                <div class="row">
                  <div class="col-6">
                    <img [src]="url_images + imageInit" class="img-fluid" [alt]="imageInit" *ngIf="imageInit">
                    <img [src]="thumbnail" *ngIf="thumbnail" class="img-fluid">
                    <img src="assets/images/missing.png" *ngIf="!imageInit && !thumbnail" class="img-fluid">
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <div class="upload-btn-wrapper">
                      <button class="btn btn-primary">Selecciona un archivo</button>
                      <input type="file" name="image" id="image" (change)="getImage($event)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card p-2">
                <div class="form-check" *ngFor="let category of categories; let i=index">
                  <input class="form-check-input"
                         type="checkbox"
                         [value]="category.id"
                         (click)="push(category.id)"
                         [checked]="category.status">
                  <label class="form-check-label">
                    <span *ngIf="serviceTranslation.getLang() == 'es'">{{ category.name.es }}</span>
                    <span *ngIf="serviceTranslation.getLang() == 'en'">{{ category.name.en}}</span>
                  </label>
                  <app-subcategories [parent]="category.id" (categorySelect)="push($event)" [categoriesSelect]="categoriesSelect1"></app-subcategories>
                </div>
              </div>
            </div>
          </div>
          <label for="key"  class="label-flags">
            <span>Codigo</span>
          </label>
          <input type="text" name="key" placeholder="Codigo" id="key" class="form-control" [ngModel]="product.key">

          <label for="model"  class="label-flags">
            <span>Modelo</span>
          </label>
          <input type="text" name="model" placeholder="Modelo" id="model" class="form-control" [ngModel]="product.model">

          <label for="description"  class="label-flags">
            <img src="assets/images/flags/Flag_of_mexico.png" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
            <img src="assets/images/flags/Flag_of_United.svg" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
            <span>Descripción</span>
          </label>
          <ckeditor [editor]="Editor"
                    *ngIf="serviceTranslation.getLang() == 'es'"
                    [ngModel]="product.description.es"
                    name="description" id="description">
          </ckeditor>
          <ckeditor [editor]="Editor"
                    *ngIf="serviceTranslation.getLang() == 'en'"
                    [ngModel]="product.description.en"
                    name="description">

          </ckeditor>

          <label for="details"  class="label-flags">
            <img src="assets/images/flags/Flag_of_mexico.png" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
            <img src="assets/images/flags/Flag_of_United.svg" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
            <span>Detalles</span>
          </label>
          <ckeditor [editor]="Editor"
                    [ngModel]="product.details.es"
                    *ngIf="serviceTranslation.getLang() == 'es'"
                    name="details" id="details">
          </ckeditor>
          <ckeditor [editor]="Editor"
                    [ngModel]="product.details.en"
                    *ngIf="serviceTranslation.getLang() == 'en'"
                    name="details">
          </ckeditor>
          <div class="alert alert-primary mt-3" role="alert">
            <fa-icon [icon]="faImages"></fa-icon> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3"  *ngFor="let image of images; let i=index">
                  <img [src]="url_images + image.name" class="img-fluid" [alt]="image.name">
                  <a  (click)="activeImage(image.id)" style="cursor: pointer;">
                    <fa-icon [icon]="faPowerOff" class="text-success" *ngIf="image.active"></fa-icon>
                    <fa-icon [icon]="faPowerOff" class="text-danger" *ngIf="!image.active"></fa-icon>
                  </a>
                  <a class="text-danger ml-2" (click)="deleteImage(image.id)" style="cursor: pointer;">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastra tus Images</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
          <button type="submit" [disabled]="form.invalid" class="mt-2 float-end btn btn-primary">
            <fa-icon [icon]="faEdit"></fa-icon>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
