<!-- Site footer -->
<footer class="site-footer">
  <div class="container pb-5">
    <div class="row">
      <a href="tel: 5521096425" class="nav-link text-center" (click)="clickTel('telephone')">
        <fa-icon [icon]="faPhone" class="text-primary"></fa-icon>&nbsp;&nbsp;
        <span class="text-white">Llama al (55) 2109-6425</span>
      </a>
    </div>
    <div class="row">
      <a  class="text-center text-white" [routerLink]="['/aviso-privacidad']">Aviso de Privacidad</a>
    </div>
  </div>
</footer>
