<div class="bar-titles">
  <h1>Servicios</h1>
</div>
<div class="container mb-4">
  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <img src="assets/images/plomeria.webp" class="-aspect-radio" alt="Plomeria">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <h4 class="text-center fw-bold">Plomeria</h4>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <img src="assets/images/electr.webp" class="-aspect-radio" alt="Plomeria">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <h4 class="text-center fw-bold">Electricidad</h4>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row mt-1">
        <div class="col-12 d-flex justify-content-center">
          <img src="assets/images/man-gen.webp" class="-aspect-radio" alt="Plomeria">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <h4 class="text-center fw-bold">Mantenimiento en general</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax1 p-2 p-md-5 text-white">
  <div class="row p-md-5">
    <div class="col-12 col-lg-6 px-md-5">
      <div class="row">
        <div class="col-12 bg-parallax-elec p-5">
          <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
              <img src="assets/images/casa_ecologica.png" class="img-fluid" alt="Casa Ecologica">
            </div>
          </div>
          <div class="row py-4">
            <div class="col-12">
              <h1 class="text-left">Electricidad</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul>
                <li>Electricidad Domestica</li>
                <li>Instalación de tableros eléctricos , Accesorios, Kit Mufa entre otros</li>
                <li>Localización de cortos</li>
                <li>Colocación de Soportes para T.V.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 px-md-5">
      <div class="row">
        <div class="col-12 bg-parallax-plo p-5 mt-5 mt-lg-0">
          <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
              <img src="assets/images/plomeria.png" class="img-fluid" alt="Casa Ecologica">
            </div>
          </div>
          <div class="row py-4">
            <div class="col-12">
              <h1 class="text-left">Plomeria</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul>
                <li>Colocación de Muebles</li>
                <li>Instalación de Tuberías Hidráulicas, Sanitarias y de Gas</li>
                <li>Instalación de:
                  <ul>
                    <li>Calentadores Solares,Tanques Eléctricos, Boiler, W.C., W.C. Flotante, lavados, Centro de Lavados, Regaderas.</li>
                    <li>Instalación de Bombeo</li>
                    <li>Localización de Fugas</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bar-titles">
  <h1>Plomerama</h1>
</div>
<div class="container my-4">
  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <img src="assets/images/maquina.webp" class="aspect-radio mt-3 mt-lg-0" alt="Maquina">
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <img src="assets/images/boler.webp" class="aspect-radio mt-3 mt-lg-0" alt="Boiler">
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <img src="assets/images/Bomba.webp" class="aspect-radio mt-3 mt-lg-0" alt="Bomba">
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <img src="assets/images/tanque.webp" class="aspect-radio mt-3 mt-xl-0" alt="Tanque">
    </div>
  </div>
</div>
<div class="parallax2 p-5 mb-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-4 py-5">
        <div class="d-flex justify-content-center align-items-center">
          <img src="assets/images/24.png" class="img-icons marc-icons" alt="24 horas">
        </div>
      </div>
      <div class="col-4 py-5">
        <div class="d-flex justify-content-center align-items-cente">
          <img src="assets/images/reloj.png" class="img-icons marc-icons" alt="Reloj">
        </div>
      </div>
      <div class="col-4 py-5">
        <div class="d-flex justify-content-center align-items-center">
          <img src="assets/images/medalla.png" class="img-icons marc-icons" alt="Medalla">
        </div>
      </div>
    </div>
  </div>
</div>
