@import "src/assets/sass/variables.scss"

.parallax1
  background-image: url('../../../../assets/images/slider/Plomerow.webp')
  background-size: cover
  background-attachment: fixed

.parallax2
  background-image: url('../../../../assets/images/slider/Plomerobg.png')
  background-size: cover
  background-attachment: fixed

.bg-parallax-elec
  background-color: #40aee4

.bg-parallax-plo
  background-color: #28699e


.img-icons
  width: 100%
  height: 100%

.marc-icons
  border-radius: 50%
  padding: 10px
  border: 2px solid white


@media (min-width: $sm)
  .img-icons
    width: 50%
    height: 50%

@media (min-width: $md)
  .img-icons
    width: 25%
    height: 25%

@media (min-width: $lg)
  .bg-parallax-elec, .bg-parallax-plo
    min-height: 500px

