@import "src/assets/sass/variables.scss"

header
  position: fixed
  background-color: white
  color: #5c5b5b
  top: 0
  height: 120px
  width: 100%
  display: flex
  //justify-content: space-between
  align-items: center
  padding: 0 3%
  font-size: 1.3em
  letter-spacing: 0.5px
  z-index: 9
  -webkit-box-shadow: 2px 2px 5px #999
  -moz-box-shadow: 2px 2px 5px #999

  //h1
  //  text-transform: uppercase
  //  font-size: 1em

.menu
  display: flex

#menuCheck, .menu-icon
  display: none

#menuCheck
  width: 0
  height: 0

.menu-list
  list-style: none
  display: flex

  li
    display: inline-flex
    cursor: pointer
    transition: color   0.3s

    &:hover
      color: #fff

    a
      color: #8e97a0
      text-decoration: none
      background-image: linear-gradient(#40aee4, #40aee4)
      background-position: 0% 100%
      background-repeat: no-repeat
      background-size: 0% 2px
      transition: background-size 1s

      &:hover
        color: #28699e
        background-size: 100% 2px

.text-black
  color: #1a1a1a

.color-tel
  color: #40aee4

.active
  color: #28699e !important
  background-size: 100% 2px !important

@media (min-width: $xl)
  header
    padding: 0 6%
    letter-spacing: 0.8px


    li
      margin-right: 23px

@media (min-width: $xxl)
  header
    padding: 0 10%


    li
      margin-right: 27px

      &:last-child
        margin-left: 46px

@media (max-width: $lg)
  header
    background-color: transparent
    color: #40aee4
    padding-right: 16px
    -webkit-box-shadow: 2px 2px 5px transparent
    -moz-box-shadow: 2px 2px 5px transparent

    &::before
      content: ""
      position: fixed
      top: -100px
      right: -100px
      width: 200px
      height: 200px
      background-color: #40aee4
      border-radius: 50%

  .submenu
    margin-top: 0

  #menuCheck
    display: block

  .menu-icon
    display: block
    color: #fff
    position: relative
    z-index: 9999

  .menu-list
    position: fixed
    background-color: #40aee4
    color: #fff
    top: -100%
    left: 100%
    width: 150vh
    height: 150vh
    z-index: 999
    flex-direction: column
    justify-content: center
    align-items: center
    transition: top 0.4s, left 0.4s, transform 0.4s

  #menuCheck:checked ~ .menu-list
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .menu-list li
    text-transform: uppercase
    font-size: 1.5em
    letter-spacing: 2px
    margin-bottom: 40px
    opacity: 0
    transition: opacity 1s

  .menu-list
    li
      a
        color: #ffffff
        transition: color .6s

        &:hover
          color: #020202

  #menuCheck:checked ~ .menu-list li
    opacity: 1

  .menu-icon
    position: relative
    top: -20px
    width: 60px
    height: 60px
    border-radius: 50px
    font-size: 1.4em
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center

  #menuCheck:checked ~ .menu-icon
    border: 2px solid #fff

  label .fa-bars, #menuCheck:checked ~ label .fa-times
    display: block

  label .fa-times, #menuCheck:checked ~ label .fa-bars
    display: none


  .color-tel
    color: #28699e
