<header>
  <h1 class="logo-navbar">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.webp" class="w-50" alt="Logo">
    </a>
  </h1>

  <section class="menu ms-auto">

    <input type="checkbox" id="menuCheck" #checkbox>
    <label for="menuCheck" class="menu-icon">
      <fa-icon [icon]="faBars" class="fa-bars"></fa-icon>
      <fa-icon [icon]="faTimes" class="fa-times"></fa-icon>
    </label>

    <ul class="menu-list ms-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goto()">
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/nosotros']" routerLinkActive="active" (click)="goto()">
          Nosotros
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/servicios']" routerLinkActive="active" (click)="goto()">
          Servicios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="active" (click)="goto()">
          Contacto
        </a>
      </li>
      <li class="nav-item link-tel">
        <a href="tel: 5521096425" class="nav-link" (click)="clickTel('telephone')">
          <fa-icon [icon]="faPhoneAlt" class="color-tel"></fa-icon>&nbsp;&nbsp;
          <span class="text-black">Llama al (55) 21096425</span>
        </a>
      </li>
    </ul>
  </section>
</header>

