<footer class="footer mt-auto py-3 bg-light text-center">
  <div class="container">
    <span class="text-muted text-center">Copyright © Todos los derechos reservados - Excess</span>
  </div>
</footer>
