<div class="bar-titles">
  <h1>Conocenos</h1>
</div>
<div class="container-fluid bg-about p-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-white">
      <p class="text-center">En Plomerama MX estamos comprometidos con brindar un servicio de calidad, por tal motivo tenemos personal con gran experiencia para darles la mejor atención. Somos especialistas en plomería, electricidad y en mantenimiento en general.</p>
    </div>
  </div>
</div>
