<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading pb-2">
      <h4>Noticias</h4>
    </div>
    <div class="page-title-actions pb-4">
      <button type="button" routerLink="/admin/news" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faList"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card card">
      <div class="card-body"><h5 class="card-title">Nueva Noticia</h5>
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <div class="row">
            <label for="title"  class="label-flags">
              <span>Titulo</span>
            </label>
            <input type="text" name="title" placeholder="Titulo" id="title" class="form-control" ngModel required>
            <div class="position-relative form-group">
              <div class="alert alert-primary mt-3" role="alert">
                <fa-icon [icon]="faImages"></fa-icon> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
              </div>
              <label for="image" class="">Imagen</label>
              <div class="row">
                <div class="col-12 col-sm-4">
                  <img [src]="url_images + imageInit" class="img-fluid" [alt]="imageInit" *ngIf="imageInit">
                  <img [src]="thumbnail" *ngIf="thumbnail" class="img-fluid">
                  <img src="assets/images/missing.png" *ngIf="!imageInit && !thumbnail" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-end" >
                  <div class="upload-btn-wrapper">
                    <button class="btn btn-primary cursor">Selecciona un archivo</button>
                    <input type="file" name="image" id="image" (change)="getImage($event)">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span class="text-center">{{ imageName }}</span>
                </div>
              </div>
            </div>
          </div>
          <label for="intro"  class="label-flags">
            <span>Introduccción</span>
          </label>
          <ckeditor [editor]="Editor" ngModel name="intro" id="intro"></ckeditor>

          <label for="content"  class="label-flags">
            <span>Contenido</span>
          </label>
          <ckeditor [editor]="Editor" ngModel name="content" id="content"></ckeditor>

          <div class="alert alert-primary mt-3" role="alert">
            <fa-icon [icon]="faImages"></fa-icon> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
          </div>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastra tus Images</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
          <button type="submit" [disabled]="form.invalid" class="mt-2 float-end btn btn-primary">
            <fa-icon [icon]="faSave"></fa-icon>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
