<div class="form-check" *ngFor="let category of categories; let i=index">
  <input class="form-check-input"
         type="checkbox"
         [value]="category.id"
         (click)="push(category.id)"
         [checked]="category.status">
  <label class="form-check-label">
    <span *ngIf="serviceTranslation.getLang() == 'es'">{{ category.name.es }}</span>
    <span *ngIf="serviceTranslation.getLang() == 'en'">{{ category.name.en }}</span>
  </label>
  <app-subcategories [parent]="category.id" (categorySelect)="push($event)" [categoriesSelect]="categoriesSelect"></app-subcategories>
</div>
