<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <ngx-spinner
      bdColor = "rgba(0, 0, 0, 0.8)"
      size = "medium"
      color = "#fff"
      type = "square-jelly-box"
      [fullScreen] = "true">
      <p style="color: white" > Cargando... </p>
    </ngx-spinner>
    <main class="col-md-9 col-lg-10 ms-sm-auto">
      <app-navbar></app-navbar>
      <div class="col-lg-12 px-md-5 bg-light">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </main>
  </div>
</div>
