<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading pb-2">
        <h4>Usuarios</h4>
    </div>
    <div class="page-title-actions pb-4">
      <button type="button" routerLink="/admin/users" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faList"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card card">
      <div class="card-body"><h5 class="card-title">Nuevo Usuario</h5>
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <input type="text" placeholder="Nombre" class="form-control mt-2"  name="name" ngModel required>
          <input type="email" placeholder="Correo" class="form-control mt-2"  name="email" ngModel required>
          <div class="input-group mt-2">
            <input [type]="type" placeholder="Contraseña" class="form-control"  name="password" ngModel required>
            <div class="input-group-append">
              <button id="show_password" class="btn btn-primary" type="button" (click)="showPassword()">
                <fa-icon *ngIf="type == 'password'" [icon]="faEye"></fa-icon>
                <fa-icon *ngIf="type != 'password'" [icon]="faEyeSlash"></fa-icon>
              </button>
            </div>
          </div>

          <div class="input-group">
            <input [type]="type" placeholder="Repite contraseña" class="form-control mt-2"  name="pass" ngModel required>
          </div>
          <button class="btn btn-primary float-end mt-2" type="submit" [disabled]="form.invalid">
            <fa-icon [icon]="faSave"></fa-icon>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
