<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <fa-icon [icon]="faImages"></fa-icon>
      </div>
      <div>
        Galerias
        <div class="page-title-subheading">Agrega.</div>
      </div>
    </div>
    <div class="page-title-actions">
      <button type="button" routerLink="/admin/galleries" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faList"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body"><h5 class="card-title">Nueva Galeria</h5>
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <label for="name"  class="label-flags">
            <img src="assets/images/flags/Flag_of_mexico.png" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
            <img src="assets/images/flags/Flag_of_United.svg" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
            <span>Nombre</span>
          </label>
          <input type="text" name="name" placeholder="Nombre" id="name" class="form-control" ngModel required>

<!--          <label for="description"  class="label-flags">-->
<!--            <img src="assets/images/flags/Flag_of_mexico.png" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">-->
<!--            <img src="assets/images/flags/Flag_of_United.svg" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">-->
<!--            <span>Descripción (Opcional)</span>-->
<!--          </label>-->
<!--          <ckeditor [editor]="Editor" ngModel name="description" id="description"></ckeditor>-->

          <div class="alert alert-primary mt-3" role="alert">
            <fa-icon [icon]="faImages"></fa-icon> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
          </div>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastra tus Images</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
          <button type="submit" [disabled]="form.invalid" class="mt-2 float-end btn btn-primary">
            <fa-icon [icon]="faSave"></fa-icon>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
