<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <fa-icon [icon]="faWarehouse"></fa-icon>
      </div>
      <div>
        Categorias
<!--        <div class="page-title-subheading">Agrega, Modifica, Activa, Elimina.</div>-->
      </div>
    </div>
    <div class="page-title-actions mt-2 mb-2">
      <button type="button" routerLink="/admin/categories/create" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-6">
            <h5 class="card-title">Tabla de Categorias</h5>
          </div>
          <div class="col-6">
            <input type="text" placeholder="Buscar" class="form-control" (keyup)="filter(search.value)" #search>
          </div>
        </div>
        <div class="table-responsive mt-3">
          <div class="mb-2 table table-hover border-dark border-bottom border-1">
            <div class="row bg-primary text-white border-dark border-bottom border-1">
              <div class="col-9"><span class="fw-bold">Categoria</span></div>
              <div class="col-2 text-center"><span class="fw-bold">Acciones</span></div>
            </div>
          </div>
          <div class="row" *ngFor="let category of categories |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
            <div class="col-2 d-flex justify-content-center">
              <a [routerLink]="['/admin/categories/edit', category.id]">
                <img src="assets/images/missing.png" alt="Sin Imagen" class="img-fluid" *ngIf="!category.image">
                <img [src]="url_images + category.image" alt="category.image" class="img-fluid" *ngIf="category.image">
              </a>
            </div>
            <div class="col-7 d-flex align-items-center">
              <a [routerLink]="['/admin/categories/edit', category.id]">
              <span *ngIf="serviceTranslation.getLang() == 'es'">
                <span *ngIf="category.name.es">{{ category.name.es }}</span>
                <span *ngIf="!category.name.es">Editar</span>
              </span>
                <span *ngIf="serviceTranslation.getLang() == 'en'">
                <span *ngIf="category.name.en">{{ category.name.en }}</span>
                <span *ngIf="!category.name.en">Editar</span>
              </span>
              </a>
            </div>
            <div class="col-2 text-center" >
                <fa-icon [icon]="faPlus" class="text-success" [routerLink]="['/admin/categories/subcategories/create', category.id]"></fa-icon>
                <fa-icon [icon]="faPowerOff" class="text-success ms-2" *ngIf="category.active" (click)="active(category.id)"></fa-icon>
                <fa-icon [icon]="faPowerOff" class="text-danger ms-2" *ngIf="!category.active" (click)="active(category.id)"></fa-icon>
                <fa-icon [icon]="faTrashAlt" class="text-danger ms-2" (click)="delete(category.id)"></fa-icon>
            </div>
            <app-subcateries-categories [parent]="category.id"></app-subcateries-categories>
          </div>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=9
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
