<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="alert alert-info alert-dismissible fade show my-3" role="alert" *ngIf="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="card my-5">
        <div class="card-header">
          <h1 class="text-center">{{ 'password.recoverPassword' | translate }}</h1>
        </div>
        <form action="" (ngSubmit)="submit(form)" #form="ngForm">
          <div class="p-5">
            <div class="row">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" name="email" id="floatingInput" placeholder="{{ 'password.email' | translate }}" class="form-control" ngModel required>
                  <label for="floatingInput">
                    <span>{{ 'password.email' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="px-5 py-2">
            <div class="row">
              <div class="col-12">
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary float-end">{{ 'password.validate' | translate }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
