<div class="bar-titles">
  <h1>{{ 'client.contact.title' | translate }}</h1>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 pt-2">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alert">
        <strong>{{ 'client.contact.recaptcha' | translate }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alertM">
        <strong>{{ 'client.contact.messageAlert' | translate }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <form action="" class="px-5" (ngSubmit)="submit(form)" #form="ngForm">
        <div class="row py-3">
          <div class="col-12">
            <div class="form-floating">
              <input type="email" name="name" id="floatingName" placeholder="{{ 'client.contact.name' | translate }}" class="form-control" ngModel required>
              <label for="floatingName">
                <span>{{ 'client.contact.name' | translate }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12 col-md-6">
            <div class="form-floating">
              <input type="email" name="email" id="floatingEmail" placeholder="{{ 'client.contact.email' | translate }}" class="form-control" ngModel required>
              <label for="floatingEmail">
                <span>{{ 'client.contact.email' | translate }}</span>
              </label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-floating">
              <input type="tel" name="telephone" id="floatingPhone" placeholder="{{ 'client.contact.telephone' | translate }}" class="form-control" ngModel required>
              <label for="floatingPhone">
                <span>{{ 'client.contact.telephone' | translate }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <div class="form-floating">
              <textarea class="form-control" name="message" placeholder="{{ 'client.contact.message' | translate }}" id="floatingMessage" style="height: 250px !important;" ngModel required></textarea>
              <label for="floatingMessage">{{ 'client.contact.message' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12">
            <re-captcha
              (resolved)="resolved($event)"
              siteKey="6LfGrMwaAAAAAEZi3MEzaRsKZlXlQOXLNEiZ9inD"
              class="float-end"
            ></re-captcha>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12">
            <button type="submit" class="btn btn-primary float-end" [disabled]="form.invalid">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
