<div>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 1)"
    template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif'/>">
  </ngx-spinner>
  <app-navbar-client></app-navbar-client>
  <main>
    <router-outlet></router-outlet>
  </main>
  <div class="btn-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=525521096425" target="_blank" (click)="clickWP('whatsapp')">
      <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
    </a>
  </div>
  <app-footer-client></app-footer-client>
</div>
