<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <fa-icon [icon]="faBlog"></fa-icon>
      </div>
      <div>
        Blogs
<!--        <div class="page-title-subheading">Agrega, Modifica, Activa, Elimina.</div>-->
      </div>
    </div>
    <div class="page-title-actions mt-2 mb-2">
      <button type="button" routerLink="/admin/blogs/create" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-6">
            <h5 class="card-title">Tabla de Blogs</h5>
          </div>
          <div class="col-6">
            <input type="text" placeholder="Buscar" class="form-control" (keyup)="filter(search.value)" #search>
          </div>
        </div>
        <div class="table-responsive mt-2">
          <table class="mb-0 table table-hover">
            <thead class="bg-primary text-white">
            <tr>
              <th>id</th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Detalle</th>
              <th>Fecha</th>
              <th class="text-center" >Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let blog of blogs |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
              <td width="20px">{{ i+1 }}</td>
              <td width="50px">
                <a [routerLink]="['/admin/blogs/edit', blog.id]">
                  <img src="assets/images/missing.png" alt="Sin Imagen" class="img-fluid" *ngIf="!blog.image">
                  <img [src]="url_images + blog.image" [alt]="blog.image" class="img-fluid" *ngIf="blog.image">
                </a>
              </td>
              <td>
                <a [routerLink]="['/admin/blogs/edit', blog.id]">
                <span *ngIf="serviceTranslation.getLang() == 'es'">
                  <span *ngIf="blog.title.es">{{ blog.title.es }}</span>
                  <span *ngIf="!blog.title.es">Editar</span>
                </span>
                  <span *ngIf="serviceTranslation.getLang() == 'en'">
                  <span *ngIf="blog.title.en">{{ blog.title.en }}</span>
                  <span *ngIf="!blog.title.en">Editar</span>
                </span>
                </a>
              </td>
              <td>
                <span *ngIf="serviceTranslation.getLang() == 'es'" [innerHTML]="blog.intro.es"></span>
                <span *ngIf="serviceTranslation.getLang() == 'en'" [innerHTML]="blog.intro.en"></span>
              </td>
              <td>
                {{ blog.date }}
              </td>
              <td class="text-center">
                  <fa-icon [icon]="faPowerOff" class="text-success cursor" *ngIf="blog.active" (click)="active(blog.id)"></fa-icon>
                  <fa-icon [icon]="faPowerOff" class="text-danger cursor" *ngIf="!blog.active" (click)="active(blog.id)"></fa-icon>
                  <fa-icon [icon]="faTrashAlt" class="text-danger ms-1 cursor" (click)="delete(blog.id)"></fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=9
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

