<div>
  <div>
    <h1 class="text-center">Click's</h1>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="lineChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <button class="btn btn-primary" (click)="gatData()">Actualizar</button>
  </div>
</div>
