<nav id="sidebarMenu" class="col-md-3 col-lg-2 sidebar" [class.show]="service.getOpen()" [class.hide]="!service.getOpen()">
  <a class="col-md-3 col-lg-2" routerLink="/">
    <img src="assets/images/logo.png" class="img-fluid m-1" alt="Logo">
  </a>
  <div class="position-sticky pt-1">
    <ul class="nav flex-column">
<!--      <app-translation></app-translation>-->
      <li class="nav-item pt-3">
        <a class="nav-link" aria-current="page" routerLink="/admin/dashboard" routerLinkActive="active" (click)="closeMenu()">
          <fa-icon [icon]="faTachometerAlt"></fa-icon>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/admin/users" routerLinkActive="active" (click)="closeMenu()">
          <fa-icon [icon]="faUser"></fa-icon>
          Usuarios
        </a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" aria-current="page" routerLink="/admin/categories" routerLinkActive="active" (click)="closeMenu()">-->
<!--          <fa-icon [icon]="faWarehouse"></fa-icon>-->
<!--          Categorias-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" aria-current="page" routerLink="/admin/products" routerLinkActive="active" (click)="closeMenu()">-->
<!--          <fa-icon [icon]="faStore"></fa-icon>-->
<!--          Productos-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" aria-current="page" routerLink="/admin/galleries" routerLinkActive="active" (click)="closeMenu()">-->
<!--          <fa-icon [icon]="faImages"></fa-icon>-->
<!--          Galerias-->
<!--        </a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/admin/news" routerLinkActive="active" (click)="closeMenu()">
          <fa-icon [icon]="faNewspaper"></fa-icon>
          Noticias
        </a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" aria-current="page" routerLink="/admin/blogs" routerLinkActive="active" (click)="closeMenu()">-->
<!--          <fa-icon [icon]="faBlog"></fa-icon>-->
<!--          Blogs-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>
</nav>
