<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/slider/electricista.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slider/Plomerow.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slider/Plomero2w.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="bar-titles" *ngIf="news.length != 0">
  <h1>Comunicados</h1>
</div>
<div class="container my-5" *ngIf="news.length != 0">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let newsU of news">
      <div class="card mt-3 mt-xl-0">
        <a [routerLink]="['/comunicados', newsU.slug]">
          <img [src]="images + newsU.image" class=" aspect-radio-main" alt="imagen" *ngIf="newsU.image" onerror="this.onerror=null;this.src='assets/images/missing.png'">
          <img src="assets/images/missing.png" *ngIf="!newsU.image" class="aspect-radio-main">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ newsU.title.es }}</h5>
          <p class="card-text text-main" [innerHTML]="newsU.intro.es | truncate:[150, '...']"></p>
          <a class="btn btn-primary float-end" [routerLink]="['/comunicados', newsU.slug]">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
