<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading pb-2">
        <h4>Usuarios</h4>
    </div>
    <div class="page-title-actions pb-4">
      <button type="button" routerLink="/admin/users/create" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card card">
      <div class="card-body">
        <div class="row justify-content-between pb-3">
          <div class="col-12 col-sm-6 align-items-center">
            <h5 class="card-title">lista de Usuarios</h5>
          </div>
          <div class="col-12 col-sm-6 align-items-center">
            <input type="text" placeholder="Buscar" class="form-control" (keyup)="filter(search.value)" #search>
          </div>
        </div>
        <div class="table-responsive">
          <table class="mb-0 table table-hover">
            <thead class="bg-tables text-white">
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
              <td>
                <a [routerLink]="['/admin/users/edit', user.id]">
                  {{ user.name }}
                </a>
              </td>
              <td>{{ user.email }}</td>
              <td width="50px" class="text-center">
                  <fa-icon [icon]="faPowerOff" class="text-success cursor" *ngIf="user.active" (click)="active(user.id)"></fa-icon>
                  <fa-icon [icon]="faPowerOff" class="text-danger cursor" *ngIf="!user.active" (click)="active(user.id)"></fa-icon>
                  <fa-icon [icon]="faTrashAlt" class="text-danger ms-2 cursor" (click)="delete(user.id)"></fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=9
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
