<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading pb-2">
        <h4>Noticias</h4>
    </div>
    <div class="page-title-actions pb-4">
      <button type="button" routerLink="/admin/news/create" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card card">
      <div class="card-body">
        <div class="row justify-content-between pb-3">
          <div class="col-12 col-sm-6 align-items-center">
            <h5 class="card-title">Lista de Noticias</h5>
          </div>
          <div class="col-12 col-sm-6 align-items-center">
            <input type="text" placeholder="Buscar" class="form-control" (keyup)="filter(search.value)" #search>
          </div>
        </div>
        <div class="table-responsive">
          <table class="mb-0 table table-hover">
            <thead class="bg-tables text-white">
            <tr>
<!--              <th>id</th>-->
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Detalle</th>
              <th>Fecha</th>
              <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let news1 of news |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
<!--              <td width="20px">{{ i+1 }}</td>-->
              <td width="200px">
                <a [routerLink]="['/admin/news/edit', news1.id]">
                  <img src="assets/images/missing.png" alt="Sin Imagen" class="img-fluid" *ngIf="!news1.image">
                  <img [src]="url_images + news1.image" alt="news1.image" class="img-fluid" *ngIf="news1.image">
                </a>
              </td>
              <td>
                <a [routerLink]="['/admin/news/edit', news1.id]">
                <span>
                  <span *ngIf="news1.title.es">{{ news1.title.es }}</span>
                  <span *ngIf="!news1.title.es">Editar</span>
                </span>
                </a>
              </td>
              <td>
                <span [innerHTML]="news1.intro.es"></span>
              </td>
              <td width="100px">
                {{ news1.date | date: 'mediumDate' }}
              </td>
              <td width="50px" class="text-center">
                  <fa-icon [icon]="faPowerOff" class="text-success cursor" *ngIf="news1.active" (click)="active(news1.id)"></fa-icon>
                  <fa-icon [icon]="faPowerOff" class="text-danger cursor" *ngIf="!news1.active" (click)="active(news1.id)"></fa-icon>
                  <fa-icon [icon]="faTrashAlt" class="text-danger ms-2 cursor" (click)="delete(news1.id)"></fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=9
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

