/* You can add global styles to this file, and also import other style files */
@font-face
  font-family: "principal"
  src: url("assets/fonts/arial-narrow.ttf") format("truetype")


*
  font-family: "principal" !important
