@import "src/assets/sass/variables.scss"
/*
 * Navbar

.menu-activador
  width: 30px
  height: 20px
  margin: 0 auto

  a
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%

    &.menu-abierto .menu-activador-linea
      &:nth-child(1)
        transform: translateY(9px) rotate(45deg)

      &:nth-child(2)
        opacity: 0

      &:nth-child(3)
        transform: translateY(-9px)rotate(-45deg)



  .menu-activador-linea
    height: 2px
    background-color: #000
    opacity: 1
    transform: translateY(0) rotate(0)
    transition: all 0.3s




.navbar
  z-index: 1

  .navbar-nav
    right: 0.1rem !important

  .navbar-toggler
    top: .25rem
    right: 1rem

  .form-control
    padding: .75rem 1rem
    border-width: 0
    border-radius: 0

.icon-hambur
  right: 0

@media (min-width: $md)

  .menu-activador
    display: none

