<header class="navbar navbar-light sticky-top flex-md-nowrap" style="background-color: #fff;">
  <div class="menu-activador position-absolute icon-hambur">
    <a (click)="toggleMenu()" [class]="{'menu-abierto': serviceMenu.getOpen()}">
      <span class="menu-activador-linea"></span>
      <span class="menu-activador-linea"></span>
      <span class="menu-activador-linea"></span>
    </a>
  </div>
<!--  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
  <ul class="navbar-nav my-2 my-md-0 me-md-3 ms-md-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">{{user.name}}</a>
      <ul class="dropdown-menu" aria-labelledby="dropdown01">
<!--        <li><a class="dropdown-item cursor" href="#">Perfil</a></li>-->
        <li><a class="dropdown-item cursor" (click)="signout()">Salir</a></li>
      </ul>
    </li>
  </ul>
</header>
