<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <fa-icon [icon]="faStore"></fa-icon>
      </div>
      <div>
        Productos
        <div class="page-title-subheading">Agrega.</div>
      </div>
    </div>
    <div class="page-title-actions">
      <button type="button" routerLink="/admin/products" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faList"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body"><h5 class="card-title">Nuevo Producto</h5>
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="name" placeholder="Nombre" ngModel required>
                <label for="floatingInput" class="label-flags mb-3">
                  <img src="assets/images/flags/Flag_of_mexico.png" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
                  <img src="assets/images/flags/Flag_of_United.svg" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
                  <span>Nombre</span>
                </label>
              </div>

              <div class="position-relative form-group">
                <label for="image" class="">Imagen</label>
                <div class="row">
                  <div class="col-6">
                    <img [src]="url_images + imageInit" class="img-fluid" [alt]="imageInit" *ngIf="imageInit">
                    <img [src]="thumbnail" *ngIf="thumbnail" class="img-fluid">
                    <img src="assets/images/missing.png" *ngIf="!imageInit && !thumbnail" class="img-fluid">
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <div class="upload-btn-wrapper">
                      <button class="btn btn-primary">Selecciona un archivo</button>
                      <input type="file" name="image" id="image" (change)="getImage($event)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card p-2">
                <div class="form-check" *ngFor="let category of categories; let i=index">
                  <input class="form-check-input"
                         type="checkbox"
                         [value]="category.id"
                         (click)="push(category.id)">
                  <label class="form-check-label">
                    <span *ngIf="serviceTranslation.getLang() == 'es'">{{ category.name.es }}</span>
                    <span *ngIf="serviceTranslation.getLang() == 'en'">{{ category.name.en}}</span>
                  </label>
                  <app-subcategories [parent]="category.id" (categorySelect)="push($event)" [categoriesSelect]="[]"></app-subcategories>
                </div>
              </div>
            </div>
          </div>
          <label for="key"  class="label-flags">
            <span>Codigo</span>
          </label>
          <input type="text" name="key" placeholder="Codigo" id="key" class="form-control" ngModel>

          <label for="model"  class="label-flags">
            <span>Modelo</span>
          </label>
          <input type="text" name="model" placeholder="Modelo" id="model" class="form-control" ngModel>

          <label for="description"  class="label-flags">
            <img src="assets/images/flags/Flag_of_mexico.png" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
            <img src="assets/images/flags/Flag_of_United.svg" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
            <span>Descripción</span>
          </label>
          <ckeditor [editor]="Editor" ngModel name="description" id="description"></ckeditor>

          <label for="details"  class="label-flags">
            <img src="assets/images/flags/Flag_of_mexico.png" alt="spanish" *ngIf="serviceTranslation.getLang() == 'es'">
            <img src="assets/images/flags/Flag_of_United.svg" alt="english" *ngIf="serviceTranslation.getLang() == 'en'">
            <span>Detalles</span>
          </label>
          <ckeditor [editor]="Editor" ngModel name="details" id="details"></ckeditor>

          <div class="alert alert-primary mt-3" role="alert">
            <fa-icon [icon]="faImages"></fa-icon> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
          </div>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastra tus Images</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
          <button type="submit" [disabled]="form.invalid" class="mt-2 float-end btn btn-primary">
            <fa-icon [icon]="faSave"></fa-icon>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
