@import "src/assets/sass/variables.scss"

*
  font-family: 'Arial Narrow'

.btn
  border-radius: 0px !important

.btn-primary
  background: $primary-color !important
  border-color: $primary-dark-color !important

.bar-titles
  background: $base-color-dark !important
  border-color: $base-color-dark !important
  color: white
  padding: 0.58rem 3%
  margin-bottom: 1rem



.label-flags
  //background: #57b846
  margin: 5px 0 10px 0

  span
    //line-height: 35px
    margin-left: 5px
    margin-top: -255px

  img
    margin-top: -30px
    max-width: 35px

.upload-btn-wrapper
  position: relative
  cursor: pointer !important
  border-color: red
  overflow: hidden
  display: inline-block


.upload-btn-wrapper .btn
  color: white
  cursor: pointer !important
  padding: 2px 20px
  border-radius: 0px
  font-size: 1rem
  left: 0
  font-weight: bold

  &:hover
    cursor: pointer



.upload-btn-wrapper input[type=file]
  font-size: 100px
  cursor: pointer !important
  position: absolute
  left: 0
  top: 0
  opacity: 0

.cursor
  cursor: pointer !important

.text-main
  height: 150px

.bg-tables
  background-color: $primary-color !important

.aspect-radio
  border-radius: 25px
  width: 100%
  height: 300px
  object-fit: cover

.aspect-radio-main
  height: 200px
  object-fit: cover

.-aspect-radio
  width: 250px
  height: 250px
  object-fit: cover
  border-radius: 25px

input[type=file]
  /* chromes and blink button
  cursor: pointer

  &::-webkit-file-upload-button
    /* chromes and blink button
    cursor: pointer


@media (min-width: $xl)
  .bar-titles
    padding: 0.58rem 6%

@media (min-width: $xxl)
  .bar-titles
    padding: 0.58rem 10%
